.o-nas-tittle{
    margin: 150px 0 40px;
    left: 0px;
    top: 0px;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;

    
    color: #FFFFFF;
}


.o-nas-titt{
    margin: 0 0 40px;
    left: 0px;
    top: 490px;
    width: 605px;
    
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;

    
    
    color: #FFFFFF;
}


.o-nas-decor{
    margin-top: -120px;
    position: absolute;
    /* top: 214px; */
    /* height: 400px; */


    right: 0;
    z-index: 1;

    /* margin: auto; */
    /* max-height: 50%; */


    max-height: 65%;
}

.slide{
    margin-top: 162px;
}
.slide-tittle{
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    
    text-align: center;
    
    color: #FFFFFF;
}