#rotate-device {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #B2ABF2;;
    background-image: url(/image/free-icon-rotation-8423885.png);
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

@media only screen and (max-device-width: 800px) and (min-device-width: 320px) and (orientation: landscape){
	#rotate-device {
		display: block;
	}
}
